<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Make donation</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="styleDonate.css">

</head>
<body>
<div class="container">
  <span class="text1">AlexZilla</span>
  <span class="text2">Страница доната</span>
  <div class="row mb3">
    <div class="col-auto">
      <img src="streamer-girl.jpg" alt="streamer" width="40%">
    </div>

    <div class="row mt-3">
    <select id="country" type="text" class="form-control">
      <option>Россия</option>
      <option>Украина</option>
      <option>Казахстан</option>
      <option>Белорусь</option>
    </select>
    </div>
    <div class="row mt-3">
    <input id="donateDonaterNickname" type="text" class="form-control" placeholder="Ваш никнейм">
    </div>
    <div class="row mt-3">
    <a href="https://netmonet.co/tip/236463"><button id="sendDonate" class="btn btn-primary">Отправить донат</button></a>
    </div>
  </div>
  <div id="donations">

  </div>
</div>

<script src="donateJS.js"></script>
</body>
</html>